parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
