<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Sepa">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>
</phpunit>
